.add-location {
    position: absolute;
    right: 2rem;
    top: 2rem;
}


.weather-pannel {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    border: 1px solid #000;
    border-radius: 2rem;
    padding: 2rem;
    background: rgba(0, 0, 0, .6);
    color: #fff;
    box-shadow: 0 0 1rem #000000;
}

.weather-pannel .city-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-pannel .info-row {
    margin-bottom: 1rem;
}

.weather-pannel .info-row.description {
    font-size: 1.3rem;
}